/* 576, 992, 1200, 1400 bp */
/* 375 design */
/* 360x640 375x812 411x823 414x736 mobile 320x568? */
/* galaxyS5 iphoneX pixel2xl iphone678 */

img {
  max-width: initial !important;
  display: initial !important;
}
svg {
  display: initial !important;
}
*,
*::before,
::after {
  word-wrap: initial !important;
}

.liquidLanding {
  overflow: hidden;
  font-family: "Inter";
}

.pageWrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.backDropImages {
  position: absolute;
  width: 15vw;
  display: flex;
  margin-left: 46px;
}
.imgPhone {
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.imgPixel {
  width: 100%;
}

.button_primary {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 54px;
  background: #28a5eb;
  border-radius: 12px;

  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}
.button_primary:hover {
  background: #1389cd;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.button_white {
  background: #fff;
  color: #28a5eb;
}
.button_white:hover {
  background: #fff;
}

@media (max-width: 992px) {
  .imgPixel {
    display: none !important;
  }
}

/* ---------- BackgroundImages ---------- */
.backCL {
  width: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.backCL__img {
  object-fit: cover;
  object-position: -18em 0px;
  width: 136%;
}
@media (max-width: 992px) {
  .backCL {
    display: none;
  }
}
.group {
  position: absolute;
  z-index: -1;
  top: 100vh;
  left: 17%;
}

/* ---------- Header ---------- */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}
.logo {
  height: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  z-index: 10;
}
/* #9DAFBD */
.chat,
.notification,
.user {
  cursor: pointer;
}
.chat,
.notification {
  height: 20px;
  margin-right: 30px;
}
.user {
  height: 41px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.user:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.chat,
.notification {
  opacity: 0.7;
  height: 40px;
  width: 40px;
}
.chat:hover,
.notification:hover {
  opacity: 1;
}
.chat path,
.notification path {
  fill: #7e97a9 !important;
  stroke-width: 0.1;
}
.chat:hover,
.notification:hover {
  fill: #627e93 !important;
}
.chat path:hover,
.notification path:hover {
  fill: #627e93 !important;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));
}

@media (max-width: 1200px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;
  }
  .logo {
    height: 36px;
  }
  .chat,
  .notification {
    margin-right: 16px;
  }
}
@media (max-width: 576px) {
  .chat,
  .notification,
  .user {
    /* height: 50px;
    width: 50px; */
  }
}

/* ---------- MainView ---------- */
.mainView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  height: 86vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.mainView__left {
  margin-top: 3em;
  width: 40vw;
  z-index: 1;
}
.mainView__text {
  margin-bottom: 24px;
  font-family: "Muller";
  /* font-size: 64px; */
  font-size: 4em;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.mainView__bottomText {
  margin-bottom: 48px;
  color: #858ba0;
  font-size: 20px;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.mainView__right {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 6px;
}

@media (max-width: 1200px) {
  .mainView__left {
    width: auto;
  }
  .backDrop {
    width: 100%;
  }
}

/* --- Mobile --- */
.mainView__text_Mobile {
  font-family: "Muller";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  font-size: 10vw;
  line-height: 120%;
}
.mainView__subText_Mobile {
  /* margin-bottom: 20px; */
  /* margin-bottom: calc(100% - 10em); */
  position: absolute;
  top: calc(66vh + 24vw);
  left: 9vw;

  color: #858ba0;
  font-size: 16px;
  font-size: 4vw;
  line-height: 150%;
  text-align: center;
}
.mainView__subText_Mobile_testing {
  width: 100%;
  left: 0;
  padding: 0 20px;
  top: calc(63vh + 24vw);
}
.button_primary_Mobile {
  font-family: "Inter";
  position: absolute;
  top: calc(76vh + 24vw);
  /* left: 9vw; */

  width: 100%;
  width: calc(100% - 34px);
  margin-left: 17px;
  /* margin: 0 auto; */
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #28a5eb;
  border-radius: 12px;

  color: #ffffff;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
}
.button_primary_Mobile:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 576px) {
  .mainView__text_Mobile,
  .mainView__subText_Mobile,
  .button_primary_Mobile {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .mainView__bottomText,
  .mainView__text,
  .button_primary {
    display: none !important;
  }
  .mainView {
    width: 90%;
    height: calc(80vh + 60px);
    height: calc(76vh + 60px);
    margin-bottom: 100px;
  }
  .mainView_testing {
    height: calc(70vh + 60px);
  }
  .mainView__left {
    width: 15%;
    margin-top: 0;
  }
  .backDropImages {
    width: 40vw;
    margin-left: 0;
    margin-right: 0;
    right: 33px;
  }
  .backDrop {
    width: 440px;
    width: 80vw;
    height: 413px;
  }
}

/* ---------- Reason ---------- */
.reason {
  text-align: center;
  margin-bottom: 90px;
}
.reason__header {
  color: #292929;
  font-family: "Muller";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  /* margin-bottom: 50px; */
  margin-bottom: 60px;
}
.reason__upper {
  display: flex;
  justify-content: space-between;
}
.upper__left {
  margin-right: 25px;
  width: 50%;
}
.ulHeader__sub {
  color: #858ba0;
  font-size: 18px;
  line-height: 120%;
}
.ulHeader__bottom {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  padding: 50px 80px 0 80px;
  /* padding: 40px 80px 0 80px; */
}

.ulHeader__bottom1 {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.ulHeader__bottom1 > span {
  margin-left: 16px;
}
.ulHeader__bottom2 {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ulHeader__bottom2 > span {
  margin-left: 16px;
}

.upper__right {
  margin-left: 25px;
  margin-right: 50px;
  /* width: 50%; */
  width: 45%;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 45px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.urHeader__upper {
  /* margin-top: 20px; */
  margin-top: 26px;
}
.urHeader__sub {
  margin-top: 20px;
  color: #858ba0;
  font-size: 18px;
  line-height: 120%;
}
.urHeader__bottom {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  padding: 40px 80px 0 80px;
}

.urHeader__bottomC {
  display: flex;
  justify-content: space-between;
}
.urHeader__bottomC_top {
  margin-bottom: 60px;
}
.urHeader__bottom1 {
  width: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.urHeader__bottom1 > span {
  margin-top: 22px;
}

/* ----- Reason Bottom ----- */
.reason__bottom {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.ruLeft,
.ruRight {
  /* border: 1px solid red !important; */
  width: 50%;
  text-align: center;

  height: 306.65px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 45px rgba(0, 0, 0, 0.08);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
}
.ruLeft {
  margin-right: 7px;
}
.ruRight {
  margin-left: 7px;
}
.ruLeft__top {
  border-bottom: 5px solid red;
  border-bottom: 1px solid #ebebeb;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
}
.barGreen {
  display: block !important;
  position: relative;
  /* top: 13px; */
  top: 43px;
  /* left: 54px; */
  left: 40px;
}
.barRedContainer {
  display: flex;
}
.barGreenText {
  display: block;
  position: relative;
  bottom: 92px;
  right: 36px;
  color: #858ba0;
  font-size: 20px;
  line-height: 150%;
}
.barRed {
  display: block;
  position: relative;
  bottom: 11px;
  left: 112px;
}
.barRedText {
  display: block;
  position: relative;
  top: 60px;
  left: 118px;
  color: #eb2828;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
}
.barBlueContainer {
  position: relative;
  bottom: 11px;
  left: 112px;
  display: flex;
}
.barBlueWrap {
  display: flex;
  flex-direction: column;
  color: #858ba0;
  font-size: 20px;
  /* line-height: 150%; */
  line-height: 10%;
}
.barBlueWeek {
  color: #858ba0;
  top: 58px;
  position: relative;
}
.barBlueBottom {
  font-size: 20px;
  line-height: 130%;
  color: #28a5eb;
}

.reason__sub {
  display: flex;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  color: #858ba0;
  width: 1050px;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
}
.reason__subText {
  width: 50%;
}

.reason__sub {
  margin-bottom: 160px;
}

/* --- Mobile --- */
.reason__header_Mobile {
  margin-left: 17px;
  font-weight: bold;
  font-size: 6vw;
  line-height: 130%;
  text-align: left;
  margin-bottom: 24px;
  margin-bottom: 8vw;
}
.rum__header {
  height: 41px;
  display: flex;
  margin-left: 17px;
  margin-bottom: 7vw;
}
.rum__mfo {
  position: relative;
  bottom: 10px;
  right: 10px;
  margin-right: 3vw;
}
.rum__sub {
  color: #858ba0;
  font-size: 16px;
  font-size: 4.1vw;
  line-height: 120%;
  text-align: left;
}
.rumc {
  text-align: left;
  margin: 0 17px;
  margin-bottom: 10vw;
}
.rumc__first,
.rumc__second,
.rumc__third,
.rumc__forth {
  display: flex;
  align-items: center;
  margin-bottom: 7vw;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
}
.rumc__first > span,
.rumc__second > span,
.rumc__third > span,
.rumc__forth > span {
  margin-left: 16px;
}
.rumc2 {
  margin: 0 17px 32px 17px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 45px rgb(0 0 0 / 8%);
  border-radius: 24px;
}
.rumc2__header {
  display: flex;
  align-items: center;
  margin-top: 27px;
  width: 100%;
  margin-left: 21px;
}
.rumc2__logo {
  margin-right: 20px;
}
.rumc2__headerText {
  color: #858ba0;
  font-size: 16px;
  line-height: 120%;
  margin-top: 8px;
}
.rumc2__body {
  margin-top: 41px;
  margin-left: 14px;
}
.rumc2__first,
.rumc2__second,
.rumc2__third,
.rumc2__forth {
  display: flex;
  align-items: center;
  margin-bottom: 7vw;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
}
.rumc2__first > span,
.rumc2__second > span,
.rumc2__third > span,
.rumc2__forth > span {
  margin-left: 16px;
  text-align: left;
}
.reason__sub_Mobile,
.reason__sub_Mobile2 {
  display: flex;
  justify-content: center;
  width: 100%;
  width: calc(100% - 34px);
  margin-top: 6px;
  margin-bottom: 16px;

  color: #858ba0;
  font-size: 20px;
  line-height: 150%;
}

@media (min-width: 576px) {
  .reason__header_Mobile,
  .reason__upper_Mobile,
  .reason__sub_Mobile,
  .reason__sub2_Mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .group,
  .reason__header,
  .reason__upper,
  .reason__sub {
    display: none;
  }
  .urHeader__sub {
    font-size: 16px;
  }
  .barRed,
  .barBlueContainer {
    left: 25vw;
  }
  .reason {
    margin-bottom: 0;
  }
  .reason__bottom {
    display: block;
    margin: 0 17px 68px 17px;
  }
  .reason__bottom {
    width: 100%;
  }
  .ruLeft,
  .ruRight {
    width: calc(100% - 34px);
    margin-left: 0;
  }
  .barGreen,
  .barRed,
  .barBlue1,
  .barBlue2,
  .barBlue3,
  .barBlue4 {
    width: 46px;
  }
  .barGreen {
    /* top: 68px; */
    /* top: 62px; */
    top: 66px;
  }
  .barRed {
    bottom: 36px;
  }
  .barBlueContainer {
    bottom: 21px;
  }
  .barGreenText,
  .barRedText,
  .barBlueBottom {
    font-size: 16px;
    font-size: 5vw;
  }
  .barRedText {
    left: 25vw;
  }
}

/* ---------- Benefits ---------- */
.benefits {
  text-align: center;
  /* margin-bottom: 114px; */
  margin-bottom: 40px;
}
.benefits__header {
  margin-bottom: 70px;
}
.benefits__headerUpper {
  color: #292929;
  font-family: "Muller";
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
}
.benefits__headerBottom {
  color: #858ba0;
  margin-top: 16px;
  font-size: 20px;
  line-height: 150%;
}

.bs1,
.bs2,
.bs3 {
  width: 1006px;
  display: flex;
  /* justify-content: space-between; */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.bs1__card {
  /* width: 452px; */
  /* height: 284px; */
  display: block;
  margin-right: 72px;
  margin-bottom: 80px;
}
.bs2__card {
  /* margin-left: 72px; */
  margin-left: 126px;
  margin-bottom: 80px;
}
.bs3__card {
  margin-right: 72px;
}
.bs1__text {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}
.bs1__header {
  margin-bottom: 16px;
  color: #292929;
  /* font-weight: 500; */
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
}
.bs1__sub {
  margin-bottom: 16px;
  margin-left: 8px;
  display: flex;
  color: #858ba0;
  font-size: 18px;
  line-height: 150%;
}
.bs1__subText {
}
.bs1__drop {
  margin-top: 8px;
  margin-right: 10px;
}

/* --- Mobile --- */
.benefits__headerUpper_Mobile {
  color: #292929;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
}
.bs1__header_Mobile {
  width: calc(100% - 34px);
  margin-bottom: 16px;
  color: #292929;
  font-weight: 600;
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
}
.bs1__drop {
  margin-bottom: 12px;
}

@media (min-width: 576px) {
  .benefits__headerUpper_Mobile,
  .bs1__header_Mobile,
  .bs2__card_Mobile {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .benefits__headerUpper,
  .bs1__header,
  .bs2__card {
    display: none !important;
  }
  .benefits__headerBottom {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 33px;
  }
  .benefits__header {
    margin-bottom: 0;
  }
  .bs1,
  .bs2,
  .bs3 {
    width: 100%;
    display: block;
    margin-left: 17px;
    margin-bottom: 39px;
  }
  .bs1__card,
  .bs2__card,
  .bs2__card_Mobile {
    width: calc(100% - 34px);
    margin-bottom: 0;
  }
  .bs1__sub {
    width: calc(100% - 34px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    margin-left: 0;
  }
  .bs1__text {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .bs1__drop {
    /* height: 15px;
    width: 12px;
    padding-top: 0px;
    padding-right: 0px; */
  }
}

/* ---------- Phone ---------- */
.phone {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 50px;
}
.phone__header {
  color: #ffffff;
  font-family: "Muller";
  height: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  text-align: left;
  position: relative;
  bottom: 270px;
  left: 160px;
}
.button_phone {
  position: relative;
  width: 130px;
  /* z-index: 20; */
  border-radius: 12px;
  bottom: 130px;
  left: 160px;
}
.phone__img {
  height: 452px;
  position: relative;
  bottom: 430px;
  left: 260px;
  margin-bottom: -430px;
}

/* --- Mobile --- */
.phone_Mobile {
  height: 280px;
  margin-top: 60px;
}
.phone__header_Mobile {
  bottom: 190px;
  left: 28px;

  color: #ffffff;
  font-family: "Muller";
  font-size: 20px;
  line-height: 130%;
  height: 0;
  font-weight: bold;
  text-align: left;
  position: relative;
}
.phone__imgBack_Mobile {
  width: calc(100% - 34px);
  margin: 0 17px;
  margin-top: -100px;
  height: 330px;
  height: 82vw;
}
.button_primary_Moblie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 41px;
  border-radius: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;

  background: #fff;
  color: #28a5eb;
}
.button_phone:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.phone__img_Mobile {
  position: relative;
  bottom: 287px;
  /* bottom: 74vw; */
  bottom: 63vw;
  /* right: 14vw; */
  /* right: calc(4vw + 2.4em); */
  left: calc(9vw + 3.4em);
  margin-bottom: 10px;
  /* height: 250px; */
  height: 67vw;
}
.postInfo_Mobile {
  margin-top: 40px;
}

@media (min-width: 576px) {
  .phone_Mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .phone {
    display: none;
  }
  .phone__imgBack_Mobile rect {
    height: 600px;
    rx: 64px;
  }
  .button_phone {
    bottom: 84px;
    left: 31px;
  }
}

/* ---------- PostInfo ---------- */
.postInfo {
  text-align: center;
}
.postInfo__header {
  color: #292929;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 14px;
}
.postInfo__sub {
  color: #858ba0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.postInfo__issue {
  margin-top: 100px;
  display: flex;
  margin-bottom: 112px;
}
.postInfo__left {
  width: 50%;
  height: 252px;
}
.postInfo__left > span {
  display: block;
  width: 77%;
  position: relative;
  bottom: 280px;
  left: 84px;

  color: #858ba0;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.pii_img {
  z-index: 1;
  position: relative;
  bottom: 290px;
  right: 144px;
}
.postInfo__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postInfo__h1 {
  color: #28a5eb;
  font-family: "Muller";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 31px;
}
.postInfo__content {
  width: 70%;
  margin-top: 40px;
  color: #858ba0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0px;
}

/* --- Mobile --- */
.postInfo__header_Mobile {
  font-size: 24px;
  text-align: center;
}
.postInfo__sub_Mobile {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
.postInfo__issue_Mobile {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}
.postInfo__left_Mobile {
  width: 100%;
  height: auto;
  height: 330px;
}
.postInfo__bsign2 {
  width: 100%;
}
.pii_img_Mobile {
  bottom: 332px;
  /* right: 144px; */
  left: 16vw;
  height: 50px;
}
.postInfo__left_Mobile > span {
  width: 74%;
  text-align: center;
  font-size: 16px;
  /* bottom: 326px; */
  bottom: 318px;
  left: 12vw;
}
.postInfo__right {
  width: 100%;
  height: auto;
}
.postInfo__h1_Mobile {
  margin-bottom: 0;
}
.postInfo__content_Mobile {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 28px;
  width: auto;
}

@media (min-width: 576px) {
  .postInfo_Mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .postInfo {
    display: none;
  }
}

/* ---------- Footer ---------- */
.preFooter1 {
  left: 0px;
  z-index: -1;
  background: #fbfbfb;
  background: #fff;
  border-radius: 0px 0px 80.2642px 80.2642px;
}
.preFooter2 {
  left: 0px;
  z-index: -3;
  background-color: #f2f5f6;
}
.preFooter1,
.preFooter2 {
  position: relative;
  width: 100%;
  height: 160px;
  bottom: 160px;
  margin-bottom: -160px;
}

.footer {
  width: 100wv;
  background-color: #f2f5f6;
  border-bottom: 1px solid #ccdce1;
}
.footer__upper {
  height: 245px;
  border-bottom: 1px solid #ccdce1;
}
.footerWrapper {
  height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
}
.footer__logo {
  margin-top: 44px;
}
.footer__leftSub {
  margin-top: 26px;

  color: #858ba0;
  font-size: 16px;
  line-height: 140%;
}
.footer__leftSub > div {
  margin-bottom: 12px;
}
.footer__left1 {
  margin-right: 86px;
}
.footer__left2 {
  margin-top: 98px;
  width: 340px;
  color: #858ba0;
  font-size: 16px;
  line-height: 140%;
}
.footer__right {
  display: flex;
  text-align: right;
  font-size: 16px;
  line-height: 140%;
}
.footer__license {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #28a5eb;
  cursor: pointer;
}
.footerBottom {
  height: 100px;
  background-color: #f2f5f6;
}
.footerBottom__right {
  width: 52%;
  display: flex;
  text-align: right;
  font-size: 16px;
  line-height: 140%;
}
.footerBottom__copyright {
  margin-top: 24px;
  display: flex;
  align-items: start;
  color: #858ba0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.footerBottom__about {
  text-align: left;
  margin-top: 26px;

  color: #858ba0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}
.footer_politic {
  color: #28a5eb;
  cursor: pointer;
}

/* --- Mobile --- */
.footer_Mobile {
  background-color: #f2f5f6;
  border-bottom: 1px solid #ccdce1;

  color: #858ba0;
  font-size: 14px;
  line-height: 140%;
}
.footer__upper_Mobile {
  /* height: 245px; */
  border-bottom: 1px solid #ccdce1;
  text-align: center;
}
.footer__logo_Mobile {
  width: 95px;
  margin-top: 21px;
}
.footer__innOgrn_Mobile {
  display: flex;
  justify-content: space-between;
  margin: 21px 17px 0 17px;
}
.footer__mail_Mobile,
.footer__adress_Mobile,
.footer__agreement_Mobile {
  margin: 12px 17px 0 17px;
  text-align: left;
  /* width: 76%; */
  width: 73%;
}
.footer__agreement_Mobile {
  color: #28a5eb;
  width: 100%;
  margin-bottom: 21px;
  /* margin-bottom: 10px; */
}
.footerBottom_Mobile {
  color: #858ba0;
  line-height: 150%;
}
.footerBottom__copyright_Mobile {
  margin: 16px 17px 0 17px;
  font-size: 14px;
  /* font-size: 3.74vw; */
  font-size: 3.6vw;
}
.footerBottom__about_Mobile {
  margin: 28px 17px 20px 17px;
  font-size: 12px;
}
.footer_politic_Mobile {
  color: #28a5eb;
}

@media (min-width: 576px) {
  .footer_Mobile,
  .footerBottom_Mobile {
    display: none;
  }
}
@media (max-width: 576px) {
  .footer,
  .footerBottom {
    display: none;
  }
}

/* ---------- Button ---------- */
.modalHomePage_Mobile > button {
  font-family: "Inter";
  position: absolute;
  top: calc(76vh + 24vw);
  /* left: 9vw; */

  width: calc(100% - 34px) !important;
  margin-left: 17px;
  /* margin: 0 auto; */
  height: 54px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #28a5eb;
  border-radius: 12px;

  color: #ffffff;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
}
.modalHomePage2_Mobile > button {
  top: auto;
  top: 10px;
}
.modalHomePage_white > button {
  background: #fff !important;
  color: #28a5eb;

  width: 130px !important;
  height: 41px !important;
  margin-left: auto;
}

@media (min-width: 576px) {
  .modalHomePage_Mobile {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .modalHomePage {
    display: none !important;
  }
}
